### <div style="padding: 35px;color:Black;margin:10;font-size:200%;text-align:center;display:fill;border-radius:10px;overflow:hidden;background-image: url(https://images.definition.org/wp-content/uploads/2018/04/Titanic_11.jpg)"><b><span style='color:#404040'>Titanic data ðŸš¢ðŸŒŠ Getting Started.. </span></b> </div>

<br>

<p style="text-align:center; ">
<img src="https://cf.ltkcdn.net/kids/images/std/236793-1600x1200-titanic.jpg" style='width: 500px; height: 350px;'>
</p>

<br>

### <b><span style='color:#0077b3'>|</span> Domain Knowledge</b>

<br>

* `survival`: Target column has two values (0 = No, 1 = Yes).
* `pclass`:	Ticket class (1 = 1st, 2 = 2nd, 3 = 3rd).
* `sex`: male or female.
* `Age`: Age of passengers in years.	
* `sibsp`: number of siblings / spouses aboard the Titanic.	
* `parch`: number of parents / children aboard the Titanic.
* `ticket`:	Ticket number.
* `fare`: Passenger fare.
* `cabin`: Cabin number.	
* `embarked`: Port of Embarkation has three values (C = Cherbourg, Q = Queenstown, S = Southampton)

# <a id="1"></a>
<div style="padding: 30px;color:white;margin:10;font-size:170%;text-align:left;display:fill;border-radius:10px;background-color:#F1C40F;overflow:hidden;background-image: url(https://th.bing.com/th/id/R.3be5e39321febd4c1f758691e109c8bd?rik=lkhAzU4ulIuL0Q&riu=http%3a%2f%2fupload.wikimedia.org%2fwikipedia%2fcommons%2f5%2f56%2fRMS_Titanic_2.jpg&ehk=VbIvq0%2b63pXvH%2bl3Ln4tlz%2bwppwyoN%2fUTZDuGVYTHiQ%3d&risl=&pid=ImgRaw&r=0)"><b><span style='color:#404040'>0 | Introduction </span></b> </div>

## <b>I <span style='color:#595959'>|</span> Import libraries and dataset</b>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
titanic_df = pd.read_csv('/kaggle/input/titanic/train.csv')

In [ ]:
titanic_df.head(5)

In [ ]:
titanic_df.describe()

In [ ]:
titanic_df.info()

## <b><span style='color:#595959'>|</span> Observations </b> 

* The training-set has 891 rows and 11 features + `survived` column (target feature).
<br>

* `Categorical` columns: Survived, Sex, and Embarked. `Ordinal` columns: Pclass.

* `Continous` columns: Age, Fare. `Discrete` columns: SibSp, Parch.

* `alphanumeric` columns: Ticket and Cabin.

* The passenger ages range from 0.4 to 80.

* There are three columns in our data have missing values: 
    * `Cabin` column have almost `77%` null values of its data. we might want to drop it.
    * 177 value in `Age` column are missed, Around `19%` of its data.
    * Just two values in `Embarked` are missing, which can easily be filled.
<br>


* `SibSp` and `Parch` These features have zero correlation for certain values. We might derive a feature or a set of features from these individual features.

# <a id="3"></a>
<div style="padding: 30px;color:white;margin:10;font-size:170%;text-align:left;display:fill;border-radius:10px;background-color:#F1C40F;overflow:hidden;background-image: url(https://th.bing.com/th/id/R.3be5e39321febd4c1f758691e109c8bd?rik=lkhAzU4ulIuL0Q&riu=http%3a%2f%2fupload.wikimedia.org%2fwikipedia%2fcommons%2f5%2f56%2fRMS_Titanic_2.jpg&ehk=VbIvq0%2b63pXvH%2bl3Ln4tlz%2bwppwyoN%2fUTZDuGVYTHiQ%3d&risl=&pid=ImgRaw&r=0)"><b><span style='color:#404040'>2 | Explore data analysis </span></b> </div>

<br>

## **<mark style="color:#404040;border-radius:5px;opacity:1.0;background-image: url(https://th.bing.com/th/id/R.3be5e39321febd4c1f758691e109c8bd?rik=lkhAzU4ulIuL0Q&riu=http%3a%2f%2fupload.wikimedia.org%2fwikipedia%2fcommons%2f5%2f56%2fRMS_Titanic_2.jpg&ehk=VbIvq0%2b63pXvH%2bl3Ln4tlz%2bwppwyoN%2fUTZDuGVYTHiQ%3d&risl=&pid=ImgRaw&r=0)"> 1-  Univariative Analysis </mark>**

<br>

### Analysis on categorical column

In [ ]:
def add_bar_labels(ax, spacing=5):
     for p in ax.patches:
        ax.annotate(format(p.get_height(), '.0f'),
                    (p.get_x() + p.get_width() / 2., p.get_height()),
                    ha='center', va='bottom', fontsize=10, xytext=(0, spacing),
                    textcoords='offset points')

In [ ]:
plt.figure(figsize = (11,9))
plt.subplot(2,3,1)
plt.title('Survived countplot')
ax = sns.countplot(data = titanic_df,x='Survived')
add_bar_labels(ax) 

plt.subplot(2,3,2)
plt.title('Sex countplot')
ax = sns.countplot(data = titanic_df,x='Sex')
add_bar_labels(ax)

plt.subplot(2,3,3)
plt.title('Pclass countplot')
ax = sns.countplot(data = titanic_df,x='Pclass')
add_bar_labels(ax)

plt.subplot(2,3,4)
plt.title('Embarked countplot')
ax = sns.countplot(data = titanic_df,x='Embarked')
add_bar_labels(ax)

plt.subplot(2,3,5)
plt.title('sibsp countplot')
ax = sns.countplot(data = titanic_df,x='SibSp')
add_bar_labels(ax)

plt.subplot(2,3,6)
plt.title('Parch countplot')
ax = sns.countplot(data = titanic_df,x='Parch')
add_bar_labels(ax)

plt.tight_layout()

### Analysis on numerical column

In [ ]:
plt.figure(figsize=(10,10))
plt.subplot(2,2,1)
sns.kdeplot(data=titanic_df, x='Age')
plt.subplot(2,2,2)
sns.boxplot(data=titanic_df, y='Age')
plt.subplot(2,2,3)
sns.kdeplot(data=titanic_df, x='Fare')
plt.subplot(2,2,4)
sns.boxplot(data=titanic_df, y='Fare')

In [ ]:
titanic_df[titanic_df['Fare'] > 250]

## <b><span style='color:#595959'>|</span> Observations </b> 
* Age is normally distributed.
* Fare is highly skewed and it actully contains group fare not individual fare and also it has outliers.
<br>
* There are total 891 passenger most of them didn't survived(549 passenger died).
* Number of males is greater than female (577 male 314 female)
* Most of the passengers are travelling in pclass 3 (1-216,2-184,3-491)
* Most of the passenger are from Southampton (Southampton-644,Chebourg-168,Queenstoun-77)
* Most of the passengers are travelling alone.

## **<mark style="color:#404040;border-radius:5px;opacity:1.0;background-image: url(https://th.bing.com/th/id/R.3be5e39321febd4c1f758691e109c8bd?rik=lkhAzU4ulIuL0Q&riu=http%3a%2f%2fupload.wikimedia.org%2fwikipedia%2fcommons%2f5%2f56%2fRMS_Titanic_2.jpg&ehk=VbIvq0%2b63pXvH%2bl3Ln4tlz%2bwppwyoN%2fUTZDuGVYTHiQ%3d&risl=&pid=ImgRaw&r=0)"> 2-  Bivariative Analysis</mark>**

In [ ]:
plt.figure(figsize=(13,5))

plt.subplot(1,3,1)
plt.title('Pclass-Survived plot', size=15)
plot= sns.countplot(data=titanic_df, x='Pclass',hue='Survived' ,palette="Blues")
add_bar_labels(plot)

plt.subplot(1,3,2)
plt.title('Sex-Survived plot', size=15)
plot= sns.countplot(data=titanic_df, x='Sex', hue='Survived' ,palette="Greens")
add_bar_labels(plot)

plt.subplot(1,3,3)
plt.title('Embarked-Survived plot', size=15)
plot= sns.countplot(data=titanic_df, x='Embarked',hue='Survived' ,palette="Reds")
add_bar_labels(plot)

### feature engineering on sibsp and parch column

In [ ]:
def transform_family_size(num):

  if num == 1:
    return 'alone'
  elif num>1 and num <5:
    return "small"
  else:
    return "large"

titanic_df['family_size'] = titanic_df['SibSp'] + titanic_df['Parch'] + 1

In [ ]:
titanic_df['family_type'] = titanic_df['family_size'].apply(transform_family_size)

In [ ]:
titanic_df.drop(['SibSp','Parch'], axis=1,inplace=True)

In [ ]:
plt.figure(figsize=(13,5))
plt.subplot(1,2,1)
plt.title('survived vs ages')
sns.histplot(data=titanic_df, x='Age', hue='Survived', kde=True, bins=20,  alpha=0.3 );
plt.subplot(1,2,2)
plt.title('survived vs family type')
plot=sns.countplot(data=titanic_df, x='family_type', hue='Survived', palette='Blues')
add_bar_labels(plot)

In [ ]:
survived_df=titanic_df[titanic_df['Survived'] == 1]
unsurvived_df=titanic_df[titanic_df['Survived'] == 0]
print('surviving male passengers \n')

print(survived_df[survived_df['Sex']=='male'][['Age']].describe().T)
print('--------------------------------')
print('surviving female passengers \n')

print(survived_df[survived_df['Sex']=='female'][['Age']].describe().T)

In [ ]:
print('non-surviving male passengers \n')

print(unsurvived_df[unsurvived_df['Sex']=='male'][['Age']].describe().T)
print('--------------------------------')
print('non-surviving female passengers \n')

print(unsurvived_df[unsurvived_df['Sex']=='female'][['Age']].describe().T)

### Observation
* Chanses of suvival in p-class 1 is more then p-class 2 and p-class 3
* Female passengers had much better survival rate than males( 74.2% of female passengers survived but just 18.8% of males survived.)
<br><br>
* Port S had most passengers(630 passengers) but the most of them didn't survive (420 passengers not-survived about `67%`)
* Infant passengers (Age <=10) had high survival rate, about 70.4% of infant passengers survive
<br><br>
* Alon passengers has less survival rate(there are total 538 alone passengers travelling but most of them(374) were died)
* There is only one passengers with 80 years old and he is survived

In [ ]:
plt.figure(figsize=(13,5))

plt.subplot(1,3,1)
plt.title('Pclass-Sex plot', size=15)
plot= sns.countplot(data=titanic_df, x='Pclass',hue='Sex' ,palette="Blues")
add_bar_labels(plot)
plt.subplot(1,3,2)
plt.title('Embarked-sex plot', size=15)
plot= sns.countplot(data=titanic_df, x='Embarked',hue='Sex' ,palette="Greens")
add_bar_labels(plot)
plt.subplot(1,3,3)
plt.title('family type-sex plot', size=15)
plot= sns.countplot(data=titanic_df, x='family_type',hue='Sex' ,palette="Greens")
add_bar_labels(plot)

In [ ]:
plt.figure(figsize=(13,5))
plt.title('Pclass-Embarked plot', size=15)
plot= sns.countplot(data=titanic_df, x='Pclass',hue='Embarked' ,palette="Blues")

In [ ]:
grid = sns.FacetGrid(titanic_df, col='Sex', row='Survived', aspect=1.2)
grid.map(plt.hist, 'Age', alpha=.5, bins=20)
grid.add_legend();

### Observation
* Most male passengers aged 20-35 did not survive.
* Survival rate is low in pclass 3 becouse number of males is more in plcass 3.
* Most of the males are frome port-S and many of them are traveling in pclass 3.
* Survival rate of alone is low becouse most of the men are travelling alone and their mean age is 31.

## **<mark style="color:#404040;border-radius:5px;opacity:1.0;background-image: url(https://th.bing.com/th/id/R.3be5e39321febd4c1f758691e109c8bd?rik=lkhAzU4ulIuL0Q&riu=http%3a%2f%2fupload.wikimedia.org%2fwikipedia%2fcommons%2f5%2f56%2fRMS_Titanic_2.jpg&ehk=VbIvq0%2b63pXvH%2bl3Ln4tlz%2bwppwyoN%2fUTZDuGVYTHiQ%3d&risl=&pid=ImgRaw&r=0)"> 3- Multivariative Analysis</mark>**

<br>

## <b>I <span style='color:#595959'>|</span> Sex, Pclass and Embarked analysis </b>

In [ ]:
grid = sns.FacetGrid(titanic_df, col='Embarked', aspect=1.6)
grid.map(sns.pointplot, 'Pclass', 'Survived', 'Sex')
grid.add_legend();

## <b>II <span style='color:#595959'>|</span> Sex, Fare and Embarked analysis </b>

In [ ]:
grid = sns.FacetGrid(titanic_df, col='Embarked', row='Survived', aspect=1.6)
grid.map(sns.barplot, 'Sex', 'Fare', alpha=.5, ci=None)
grid.add_legend();

## <b><span style='color:#595959'>|</span> Observations </b> 

* Women on port Q and S have a higher chance of survival. But it's inverse at port C.

* Men have a high survival probability on port C, but a low probability on port Q or S.

* Most female passengers inside Pclass 3 on port C and S non-survived but most of them survived on port Q.
<br>
 
 
* Higher fare paying passengers had better survival. 

* Passengers on port Q paid less fare.

* Nearly no male survived on port Q. 

* Femals on port Q (about `37%` of all port Q passengers) Survived, however they paid small fare.

# <a id="4"></a>
<div style="padding: 30px;color:white;margin:10;font-size:170%;text-align:left;display:fill;border-radius:10px;background-color:#F1C40F;overflow:hidden;background-image: url(https://th.bing.com/th/id/R.3be5e39321febd4c1f758691e109c8bd?rik=lkhAzU4ulIuL0Q&riu=http%3a%2f%2fupload.wikimedia.org%2fwikipedia%2fcommons%2f5%2f56%2fRMS_Titanic_2.jpg&ehk=VbIvq0%2b63pXvH%2bl3Ln4tlz%2bwppwyoN%2fUTZDuGVYTHiQ%3d&risl=&pid=ImgRaw&r=0)"><b><span style='color:#404040'>3 | data preprocessing </span></b> </div>

<br>

## **<mark style="color:#404040;border-radius:5px;opacity:1.0;background-image: url(https://th.bing.com/th/id/R.3be5e39321febd4c1f758691e109c8bd?rik=lkhAzU4ulIuL0Q&riu=http%3a%2f%2fupload.wikimedia.org%2fwikipedia%2fcommons%2f5%2f56%2fRMS_Titanic_2.jpg&ehk=VbIvq0%2b63pXvH%2bl3Ln4tlz%2bwppwyoN%2fUTZDuGVYTHiQ%3d&risl=&pid=ImgRaw&r=0)"> 1-  Drop unuseful columns </mark>**
<br>

* Drop `PassengerId` column from the train set, because it won't beneficial

* Drop `Cabin` column, becouse 77% of its data are missing. And a general rule is that, if more than half of the data in a column is missing, it's better to drop it.

* Drop `Ticket` column, becouse there may not be a correlation between Ticket and survival and its high ratio of duplicates.

In [ ]:
titanic_df.drop(columns='PassengerId', inplace=True)
titanic_df.drop(columns='Cabin', inplace=True)
titanic_df.drop(columns='Ticket', inplace=True)

## <b>I <span style='color:#595959'>|</span> Fare column</b> 

Frist we will check for missing values then we can create a new column name Individual_fare.

In [ ]:
titanic_df['Fare'].isnull().sum()

In [ ]:
titanic_df['Individual_fare'] = titanic_df['Fare']/titanic_df['family_size']

In [ ]:
titanic_df[['Individual_fare','Fare']].describe()

## <b>II <span style='color:#595959'>|</span>Name column</b>

* First we will make new columns called `surname` and `title`.

In [ ]:
titanic_df['Surname']=titanic_df['Name'].str.split(',').str.get(0)

In [ ]:
titanic_df['title'] = titanic_df['Name'].str.split(',').str.get(1).str.strip().str.split(' ').str.get(0)

In [ ]:
def replace_titles(x):
    title=x['title']
    
    if (x['Age']<13): return 'Boy'
    
    if title in ['Don.', 'Rev.', 'Col.','Capt.','Sir.','Major.','Jonkheer.','Mr','the','Master.']: return 'Mr.'
    
    elif title in ['Countess.', 'Mme.','Mrs']: return 'Mrs.'
    
    elif title in ['Mlle.', 'Ms.','Lady.','Dona.','Miss']: return 'Miss.'
    
    elif title =='Dr.':
        
        if x['Sex']=='male.': return 'Mr.'
        else: return 'Mrs.'
        
    else: return title

In [ ]:
titanic_df['title']=titanic_df.apply(replace_titles,axis=1)

In [ ]:
titanic_df['title'].value_counts()

In [ ]:
titanic_df.head(5)

<div style="text-align: center;">
   <span style="font-size: 1.4em; font-weight: bold; font-family: Arial; max-width:1200px; display: inline-block;">
       If you find this notebook useful, I really would appreciate your upvote!
   </span>
</div>